*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*/target/*
*nb-configuration.xml
**/target/**
**/java/io/spring/guides/gs_producing_web_service/
/Obligatorio1/partner-1-facturas/target/
/Obligatorio1/partner-2-entradas/target/